@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

header {
  padding-top: 50px;
  width: 100%; }

.gridMain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 700px;
  background-image: url(../assets/img/background.png);
  background-repeat: no-repeat;
  background-size: 95vw,200px;
  background-position-x: center;
  background-position-y: 100px; }
  .gridMain .searchBar {
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.sectionInd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding-top: 0px; }
  .sectionInd h1, .sectionInd .artEmp {
    width: 800px;
    display: flex;
    flex-direction: grow;
    justify-content: center;
    align-items: center;
    color: #b9f331;
    padding-top: 300px; }
  .sectionInd article {
    padding-top: 20px;
    width: 50%;
    height: 80px;
    color: aquamarine; }
    .sectionInd article strong {
      width: 20px;
      color: aquamarine; }

section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 300px; }
  section2 .compList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.empImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px; }
  .empImg img {
    width: 100px;
    border-radius: 80px;
    border: 4px solid yellowgreen; }
  .empImg span {
    padding-left: 20px;
    color: white;
    width: 400px;
    font-size: 15px;
    font-family: Shrikhand; }

.company img {
  width: 600px;
  border-radius: 20px;
  border: 2px solid chartreuse; }

.cardDesc {
  color: yellow; }

section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section3 .textCand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding-top: 50px;
    font-size: 2.1875rem;
    color: yellow; }

body {
  background-color: black; }

.sectionFoot {
  height: 200px;
  background-color: #616155; }
  .sectionFoot .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%; }
    .sectionFoot .footer .qrCode img {
      width: 100px; }
    .sectionFoot .footer ul {
      all: unset;
      list-style: none; }
    .sectionFoot .footer .list1, .sectionFoot .footer .list2, .sectionFoot .footer .flexEmpCont .containList ul .list2, .flexEmpCont .containList ul .sectionFoot .footer .list2, .sectionFoot .footer .flexEmpCont .containList ul .list3, .flexEmpCont .containList ul .sectionFoot .footer .list3, .sectionFoot .footer .flexEmpCont .containList ul .list4, .flexEmpCont .containList ul .sectionFoot .footer .list4, .sectionFoot .footer .flexEmpCont .containList ul .list5, .flexEmpCont .containList ul .sectionFoot .footer .list5 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      .sectionFoot .footer .list1 strong, .sectionFoot .footer .list2 strong, .sectionFoot .footer .flexEmpCont .containList ul .list3 strong, .flexEmpCont .containList ul .sectionFoot .footer .list3 strong, .sectionFoot .footer .flexEmpCont .containList ul .list4 strong, .flexEmpCont .containList ul .sectionFoot .footer .list4 strong, .sectionFoot .footer .flexEmpCont .containList ul .list5 strong, .flexEmpCont .containList ul .sectionFoot .footer .list5 strong {
        font-size: 20px;
        color: white; }
      .sectionFoot .footer .list1 li, .sectionFoot .footer .list2 li, .sectionFoot .footer .flexEmpCont .containList ul .list3 li, .flexEmpCont .containList ul .sectionFoot .footer .list3 li, .sectionFoot .footer .flexEmpCont .containList ul .list4 li, .flexEmpCont .containList ul .sectionFoot .footer .list4 li, .sectionFoot .footer .flexEmpCont .containList ul .list5 li, .flexEmpCont .containList ul .sectionFoot .footer .list5 li {
        color: white; }
        .sectionFoot .footer .list1 li a, .sectionFoot .footer .list2 li a, .sectionFoot .footer .flexEmpCont .containList ul .list3 li a, .flexEmpCont .containList ul .sectionFoot .footer .list3 li a, .sectionFoot .footer .flexEmpCont .containList ul .list4 li a, .flexEmpCont .containList ul .sectionFoot .footer .list4 li a, .sectionFoot .footer .flexEmpCont .containList ul .list5 li a, .flexEmpCont .containList ul .sectionFoot .footer .list5 li a {
          font-size: 10px;
          color: white; }
      .sectionFoot .footer .list1 .dirFoot, .sectionFoot .footer .list2 .dirFoot, .sectionFoot .footer .flexEmpCont .containList ul .list3 .dirFoot, .flexEmpCont .containList ul .sectionFoot .footer .list3 .dirFoot, .sectionFoot .footer .flexEmpCont .containList ul .list4 .dirFoot, .flexEmpCont .containList ul .sectionFoot .footer .list4 .dirFoot, .sectionFoot .footer .flexEmpCont .containList ul .list5 .dirFoot, .flexEmpCont .containList ul .sectionFoot .footer .list5 .dirFoot {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px; }
        .sectionFoot .footer .list1 .dirFoot img, .sectionFoot .footer .list2 .dirFoot img, .sectionFoot .footer .flexEmpCont .containList ul .list3 .dirFoot img, .flexEmpCont .containList ul .sectionFoot .footer .list3 .dirFoot img, .sectionFoot .footer .flexEmpCont .containList ul .list4 .dirFoot img, .flexEmpCont .containList ul .sectionFoot .footer .list4 .dirFoot img, .sectionFoot .footer .flexEmpCont .containList ul .list5 .dirFoot img, .flexEmpCont .containList ul .sectionFoot .footer .list5 .dirFoot img {
          width: 50px; }
      .sectionFoot .footer .list1 .line2, .sectionFoot .footer .list2 .line2, .sectionFoot .footer .flexEmpCont .containList ul .list3 .line2, .flexEmpCont .containList ul .sectionFoot .footer .list3 .line2, .sectionFoot .footer .flexEmpCont .containList ul .list4 .line2, .flexEmpCont .containList ul .sectionFoot .footer .list4 .line2, .sectionFoot .footer .flexEmpCont .containList ul .list5 .line2, .flexEmpCont .containList ul .sectionFoot .footer .list5 .line2 {
        width: 100%;
        height: 1px;
        background-color: #b10be4; }

.redPart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #b10be4;
  height: 50px; }
  .redPart .line {
    width: 100px;
    height: 1px;
    background-color: #21e42b;
    color: antiquewhite; }
  .redPart .redIco img {
    width: 30px; }

.cvGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px; }

h2 {
  color: yellow;
  padding-top: 20px; }

article {
  padding-top: 20px;
  padding-left: 10px;
  color: yellow;
  width: 25vw;
  font-size: 20px; }
  article strong {
    color: aliceblue;
    font-size: 25px; }

img {
  width: 400px; }

.cvTips {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.profileCv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .profileCv .profile img {
    width: 15vw; }
  .profileCv article2 {
    width: 20vw;
    color: yellowgreen; }
  .profileCv label {
    all: unset;
    width: 50px; }
  .profileCv .fileUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px; }
    .profileCv .fileUp img {
      width: 50px; }

.formCv, .checkList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px; }
  .formCv label, .checkList label {
    color: yellowgreen; }
  .formCv input, .checkList input {
    width: 90px;
    background-color: yellowgreen; }

.checkList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 10px; }
  .checkList input {
    width: 120px; }
  .checkList .skills, .checkList .idiomas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    border: 2px solid yellowgreen;
    border-radius: 20px; }
    .checkList .skills .checkImg img, .checkList .idiomas .checkImg img, .checkList .idiomas .talkGirl img {
      width: 150px; }
    .checkList .skills h3, .checkList .idiomas h3, .checkList .skills h4, .checkList .idiomas h4, .checkList .idiomas h5 {
      color: yellowgreen; }
  .checkList .check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 350px; }
  .checkList .idiomas {
    height: 400px; }
    .checkList .idiomas .talkGirl img {
      border-radius: 100px; }
    .checkList .idiomas h5 {
      padding-top: 20px; }
  .checkList .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.ofertContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  width: 100%; }
  .ofertContain h5 {
    font-size: 30px;
    width: 80%;
    max-width: 800px;
    color: yellowgreen;
    padding-bottom: 10px;
    text-align: center; }
  .ofertContain .artOfert {
    font-size: 25px;
    color: yellow;
    width: 90%;
    max-width: 800px;
    min-width: 320px; }
    .ofertContain .artOfert strong {
      font-size: 25px; }
      .ofertContain .artOfert strong a {
        text-decoration: none;
        all: unset; }
  .ofertContain .jobImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .ofertContain .jobImg img {
      width: 80%;
      max-width: 800px;
      border-radius: 200px;
      justify-content: center; }

.ofertGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 100px; }
  .ofertGrid .containCard1, .ofertGrid .containCard2, .ofertGrid .containCard3, .ofertGrid .containCard4, .ofertGrid .containCard5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 234, 113, 0.651);
    width: 90%;
    max-width: 400px;
    height: 600px;
    margin: auto;
    container-type: inline-size;
    container-name: contCard;
    border: 2px solid yellowgreen;
    border-radius: 20px;
    margin-bottom: 50px; }
    .ofertGrid .containCard1 .logo, .ofertGrid .containCard2 .logo, .ofertGrid .containCard3 .logo, .ofertGrid .containCard4 .logo, .ofertGrid .containCard5 .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .ofertGrid .containCard1 .logo img, .ofertGrid .containCard2 .logo img, .ofertGrid .containCard3 .logo img, .ofertGrid .containCard4 .logo img, .ofertGrid .containCard5 .logo img {
        width: 40%;
        margin: 10px; }
      .ofertGrid .containCard1 .logo p, .ofertGrid .containCard2 .logo p, .ofertGrid .containCard3 .logo p, .ofertGrid .containCard4 .logo p, .ofertGrid .containCard5 .logo p {
        color: #7bff00;
        text-align: center;
        font-size: 25px; }
      .ofertGrid .containCard1 .logo .ofertArt, .ofertGrid .containCard2 .logo .ofertArt, .ofertGrid .containCard3 .logo .ofertArt, .ofertGrid .containCard4 .logo .ofertArt, .ofertGrid .containCard5 .logo .ofertArt {
        color: antiquewhite;
        text-wrap: pretty;
        max-width: 80%;
        min-width: 200px; }
        .ofertGrid .containCard1 .logo .ofertArt strong, .ofertGrid .containCard2 .logo .ofertArt strong, .ofertGrid .containCard3 .logo .ofertArt strong, .ofertGrid .containCard4 .logo .ofertArt strong, .ofertGrid .containCard5 .logo .ofertArt strong {
          font-size: 20px;
          color: yellow; }
    .ofertGrid .containCard1 .localImg, .ofertGrid .containCard2 .localImg, .ofertGrid .containCard3 .localImg, .ofertGrid .containCard4 .localImg, .ofertGrid .containCard5 .localImg {
      padding-top: 50px;
      width: 75%; }
      .ofertGrid .containCard1 .localImg img, .ofertGrid .containCard2 .localImg img, .ofertGrid .containCard3 .localImg img, .ofertGrid .containCard4 .localImg img, .ofertGrid .containCard5 .localImg img {
        width: 100%;
        border-radius: 10px; }
    .ofertGrid .containCard1 button, .ofertGrid .containCard2 button, .ofertGrid .containCard3 button, .ofertGrid .containCard4 button, .ofertGrid .containCard5 button {
      all: unset;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #bd1ce6;
      width: 20%;
      height: 25px;
      border-radius: 10px;
      margin: 10px; }
      .ofertGrid .containCard1 button a, .ofertGrid .containCard2 button a, .ofertGrid .containCard3 button a, .ofertGrid .containCard4 button a, .ofertGrid .containCard5 button a {
        text-decoration: none;
        color: aliceblue; }

.gridSection2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 90vw; }
  .gridSection2 .anun1 {
    font-size: 35px;
    padding-top: 60px;
    color: aquamarine;
    font-family: AlumniSansPinstripe; }
  .gridSection2 .ofertBan img {
    width: 800px;
    aspect-ratio: 1,5/1; }
  .gridSection2 .bannAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.flexContainer {
  padding-top: 50px;
  gap: 20px;
  width: 100%; }
  .flexContainer .bannBest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .flexContainer .bannBest img {
      width: 70%;
      max-width: 700px; }

h1, .artEmp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aquamarine;
  font-size: 30px;
  width: 70%;
  padding-top: 50px;
  text-wrap: pretty;
  margin: auto; }

.artEmp {
  font-size: 20px;
  text-wrap: pretty;
  color: yellow; }

.gridEmp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 80%;
  padding-top: 100px;
  margin: auto; }
  .gridEmp .cardEmpCont, .gridEmp .cardEmpCont2, .gridEmp .cardEmpCont3, .gridEmp .cardEmpCont4, .gridEmp .cardEmpCont5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
    container-name: cardEmp;
    background-color: #8a8585;
    border: 10px solid rgba(246, 255, 114, 0.918);
    max-width: 320px;
    margin-bottom: 100px; }
    .gridEmp .cardEmpCont .cardEmpLine, .gridEmp .cardEmpCont2 .cardEmpLine, .gridEmp .cardEmpCont3 .cardEmpLine, .gridEmp .cardEmpCont4 .cardEmpLine, .gridEmp .cardEmpCont5 .cardEmpLine {
      background-color: yellowgreen;
      height: 2px;
      width: 50%;
      margin: 20px; }
    .gridEmp .cardEmpCont .groupStar, .gridEmp .cardEmpCont2 .groupStar, .gridEmp .cardEmpCont3 .groupStar, .gridEmp .cardEmpCont4 .groupStar, .gridEmp .cardEmpCont5 .groupStar {
      display: flex;
      flex-direction: grow;
      justify-content: center;
      align-items: center;
      width: 90%;
      padding: 10px;
      gap: 2px; }
      .gridEmp .cardEmpCont .groupStar img, .gridEmp .cardEmpCont2 .groupStar img, .gridEmp .cardEmpCont3 .groupStar img, .gridEmp .cardEmpCont4 .groupStar img, .gridEmp .cardEmpCont5 .groupStar img {
        width: 40px; }
    .gridEmp .cardEmpCont .cardEmpLogo, .gridEmp .cardEmpCont2 .cardEmpLogo, .gridEmp .cardEmpCont3 .cardEmpLogo, .gridEmp .cardEmpCont4 .cardEmpLogo, .gridEmp .cardEmpCont5 .cardEmpLogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .gridEmp .cardEmpCont .cardEmpLogo img, .gridEmp .cardEmpCont2 .cardEmpLogo img, .gridEmp .cardEmpCont3 .cardEmpLogo img, .gridEmp .cardEmpCont4 .cardEmpLogo img, .gridEmp .cardEmpCont5 .cardEmpLogo img {
        width: 25%;
        height: auto;
        margin: 10px; }
    .gridEmp .cardEmpCont .logoText, .gridEmp .cardEmpCont2 .logoText, .gridEmp .cardEmpCont3 .logoText, .gridEmp .cardEmpCont4 .logoText, .gridEmp .cardEmpCont5 .logoText {
      font-size: 20px;
      color: aquamarine; }
    .gridEmp .cardEmpCont .tittleEmp, .gridEmp .cardEmpCont2 .tittleEmp, .gridEmp .cardEmpCont3 .tittleEmp, .gridEmp .cardEmpCont4 .tittleEmp, .gridEmp .cardEmpCont5 .tittleEmp {
      font-size: 20px;
      padding-top: 10px;
      color: aquamarine; }
      .gridEmp .cardEmpCont .tittleEmp strong, .gridEmp .cardEmpCont2 .tittleEmp strong, .gridEmp .cardEmpCont3 .tittleEmp strong, .gridEmp .cardEmpCont4 .tittleEmp strong, .gridEmp .cardEmpCont5 .tittleEmp strong {
        font-size: 19px;
        color: yellow; }
    .gridEmp .cardEmpCont .buttonEmp, .gridEmp .cardEmpCont2 .buttonEmp, .gridEmp .cardEmpCont3 .buttonEmp, .gridEmp .cardEmpCont4 .buttonEmp, .gridEmp .cardEmpCont5 .buttonEmp {
      all: unset;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 50px;
      border-radius: 20px;
      background-color: yellowgreen;
      margin: 10px; }
      .gridEmp .cardEmpCont .buttonEmp a, .gridEmp .cardEmpCont2 .buttonEmp a, .gridEmp .cardEmpCont3 .buttonEmp a, .gridEmp .cardEmpCont4 .buttonEmp a, .gridEmp .cardEmpCont5 .buttonEmp a {
        color: white;
        text-decoration: none; }

.flexEmpCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .flexEmpCont .containList {
    width: 50%;
    height: 600px;
    min-width: 250px;
    margin: 50px;
    background-color: grey;
    border: 2px solid beige;
    padding-top: 50px; }
    .flexEmpCont .containList ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .flexEmpCont .containList ul li {
        all: unset;
        color: yellow;
        font-size: 20px;
        width: 50%; }
      .flexEmpCont .containList ul .list1, .flexEmpCont .containList ul .list2, .flexEmpCont .containList ul .list3, .flexEmpCont .containList ul .list4, .flexEmpCont .containList ul .list5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        gap: 20px;
        padding-top: 50px; }
        .flexEmpCont .containList ul .list1 span, .flexEmpCont .containList ul .list2 span, .flexEmpCont .containList ul .list3 span, .flexEmpCont .containList ul .list4 span, .flexEmpCont .containList ul .list5 span {
          font-size: 20px;
          color: orange; }
        .flexEmpCont .containList ul .list1 .starList img, .flexEmpCont .containList ul .list2 .starList img, .flexEmpCont .containList ul .list3 .starList img, .flexEmpCont .containList ul .list4 .starList img, .flexEmpCont .containList ul .list5 .starList img {
          width: 25px; }
        .flexEmpCont .containList ul .list1 .listButton, .flexEmpCont .containList ul .list2 .listButton, .flexEmpCont .containList ul .list3 .listButton, .flexEmpCont .containList ul .list4 .listButton, .flexEmpCont .containList ul .list5 .listButton {
          all: unset;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: antiquewhite;
          width: 12%;
          height: 30px; }
          .flexEmpCont .containList ul .list1 .listButton a, .flexEmpCont .containList ul .list2 .listButton a, .flexEmpCont .containList ul .list3 .listButton a, .flexEmpCont .containList ul .list4 .listButton a, .flexEmpCont .containList ul .list5 .listButton a {
            text-decoration: none; }
      .flexEmpCont .containList ul .listCount ul {
        all: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-top: 25px; }
        .flexEmpCont .containList ul .listCount ul a {
          text-decoration: none;
          color: white; }

.flexRrhh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 10px; }
  .flexRrhh h6 {
    font-size: 25px;
    color: yellowgreen; }
  .flexRrhh article {
    font-size: 1.5625rem;
    color: antiquewhite;
    width: 500px; }

.centralGrid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr)); }

.teamGrid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); }

.naviBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #616155; }
  .naviBar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80vw; }
    .naviBar ul button {
      all: unset;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 40px; }
    .naviBar ul a {
      color: yellow;
      font-family: AlumniSansPinstripe;
      text-decoration: none; }
  .naviBar label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 200px; }
    .naviBar label img {
      width: 30px;
      aspect-ratio: 1/1; }
    .naviBar label input {
      width: 80%;
      background-color: yellow; }
    .naviBar label placeholder {
      background-color: yellow; }
  .naviBar button:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #bcc0c4;
    width: 80px;
    height: 50px; }
    .naviBar button:hover a {
      color: black;
      text-decoration: none;
      all: unset; }

.searchBar {
  width: 700px;
  height: 110px;
  background-color: yellow;
  border-radius: 50px; }
  .searchBar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    .searchBar ul div img {
      width: 28px;
      height: 35px; }
    .searchBar ul input {
      background-color: black;
      width: 8vw;
      color: yellow; }

.mainContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
  container-name: cardContain; }
  .mainContain .busqSect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 2/1;
    border-radius: 10px; }
    .mainContain .busqSect .articleCont {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      width: 100%;
      background-color: #f4f7f5; }
      .mainContain .busqSect .articleCont article {
        color: #8a8b89;
        font-size: 30px;
        width: 100%;
        border-radius: 20px; }
        .mainContain .busqSect .articleCont article strong {
          color: #5a5c61;
          font-family: AlumniSansPinstripe;
          font-size: 32px; }
      .mainContain .busqSect .articleCont button {
        background-color: blueviolet; }
        .mainContain .busqSect .articleCont button a {
          color: #f4f7f5;
          text-decoration: none; }
      .mainContain .busqSect .articleCont .imageCont {
        width: 100%; }
        .mainContain .busqSect .articleCont .imageCont img {
          width: 100%; }
      .mainContain .busqSect .articleCont .buttonClass {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; }
        .mainContain .busqSect .articleCont .buttonClass button {
          width: 40%; }
          .mainContain .busqSect .articleCont .buttonClass button :hover {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            aspect-ratio: 3/1;
            border-radius: 40px;
            background-color: #0fec72;
            color: #292723; }

.bannerMain {
  display: flex; }
  .bannerMain img {
    width: 100%;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    border-radius: 50%; }

.sectionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  align-items: center;
  justify-items: center;
  padding-top: 100px;
  width: 100%; }
  .sectionGrid .card1, .sectionGrid .card2, .sectionGrid .card3, .sectionGrid .card4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    object-fit: cover;
    height: auto;
    background-color: #c2d18c;
    border: 2px solid #fdd86e;
    border-radius: 10px;
    box-shadow: 2px 1px 1px 1px #b9bbdb; }
    .sectionGrid .card1 .cardImg, .sectionGrid .card2 .cardImg, .sectionGrid .card3 .cardImg, .sectionGrid .card4 .cardImg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .sectionGrid .card1 .cardImg img, .sectionGrid .card2 .cardImg img, .sectionGrid .card3 .cardImg img, .sectionGrid .card4 .cardImg img {
        width: 70%;
        padding-top: 10px; }
    .sectionGrid .card1 .cardCont, .sectionGrid .card2 .cardCont, .sectionGrid .card3 .cardCont, .sectionGrid .card4 .cardCont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 200px;
      height: 300px;
      border-radius: 10px; }
      .sectionGrid .card1 .cardCont p, .sectionGrid .card2 .cardCont p, .sectionGrid .card3 .cardCont p, .sectionGrid .card4 .cardCont p {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: DM Serif Text;
        text-align: center;
        font-size: 30px;
        color: #6e6464; }
      .sectionGrid .card1 .cardCont article, .sectionGrid .card2 .cardCont article, .sectionGrid .card3 .cardCont article, .sectionGrid .card4 .cardCont article {
        width: 100%;
        text-align: center;
        text-wrap: pretty;
        font-size: 16px;
        color: #555050; }
        .sectionGrid .card1 .cardCont article strong, .sectionGrid .card2 .cardCont article strong, .sectionGrid .card3 .cardCont article strong, .sectionGrid .card4 .cardCont article strong {
          font-size: 20px;
          color: yellow; }
      .sectionGrid .card1 .cardCont button, .sectionGrid .card2 .cardCont button, .sectionGrid .card3 .cardCont button, .sectionGrid .card4 .cardCont button {
        width: 100px;
        height: 50px;
        margin: 20px;
        background-color: blueviolet; }
        .sectionGrid .card1 .cardCont button a, .sectionGrid .card2 .cardCont button a, .sectionGrid .card3 .cardCont button a, .sectionGrid .card4 .cardCont button a {
          text-decoration: none;
          color: #0fec72; }
  .sectionGrid .card2 {
    padding: 50px;
    margin: 20px; }

.cardPostGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 80%;
  max-width: 800px;
  min-width: 200px;
  background-color: #2bdbf3;
  margin: auto;
  margin-top: 100px;
  container-type: inline-size;
  container-name: cardQ; }
  .cardPostGrid .cardPost {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    gap: 5px;
    align-items: center; }
    .cardPostGrid .cardPost .opinionGirl img {
      width: 90%;
      max-width: 800px;
      border-radius: 90%; }
    .cardPostGrid .cardPost span {
      color: white;
      font-family: DM Serif Text;
      font-size: 35px;
      text-wrap: pretty;
      width: 60%;
      padding: 20px; }
    .cardPostGrid .cardPost p {
      color: #f4f7f5;
      font-size: 100px;
      margin: auto; }

.bannSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: auto; }
  .bannSection .bannPost, .bannSection .bannPost2, .bannSection .bannPost3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .bannSection .bannPost .circle, .bannSection .bannPost2 .circle, .bannSection .bannPost3 .circle {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .bannSection .bannPost .circle img, .bannSection .bannPost2 .circle img, .bannSection .bannPost3 .circle img {
        width: 40%; }
    .bannSection .bannPost p, .bannSection .bannPost2 p, .bannSection .bannPost3 p {
      color: #08c25c;
      font-size: clump(40px, 24px, 30px);
      font-family: DM Serif Text; }
    .bannSection .bannPost .likeSect, .bannSection .bannPost2 .likeSect, .bannSection .bannPost3 .likeSect {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid #e9bf5b;
      height: 50px;
      width: 250px;
      border-radius: 10px;
      background-color: #c1e6d2;
      padding-top: 10px;
      margin-top: 20px;
      gap: 10px; }
      .bannSection .bannPost .likeSect .icon img, .bannSection .bannPost2 .likeSect .icon img, .bannSection .bannPost3 .likeSect .icon img {
        width: 35px; }
      .bannSection .bannPost .likeSect span, .bannSection .bannPost2 .likeSect span, .bannSection .bannPost3 .likeSect span {
        color: #6e6464;
        font-size: 20px; }
  .bannSection .bannPost2 {
    margin-top: 70%; }

.cardEmp {
  background-color: #e9bf5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 15vw;
  height: 210px;
  border: 10px solid #fdd86e;
  border-radius: 10px; }
  .cardEmp span {
    color: #fffb00;
    font-size: 18px; }
    .cardEmp span strong {
      font-size: 25px;
      color: #333326; }
  .cardEmp .lineCard {
    width: 12vw;
    height: 1px;
    background-color: white; }
  .cardEmp img {
    width: 10vw;
    padding-top: 5px;
    aspect-ratio: 2/1; }

.compBan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65vw;
  aspect-ratio: 2 / 1;
  background-color: #fdd86e;
  border-radius: 10px; }
  .compBan .part1, .compBan .part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 10px 0px 0px 10px; }
    .compBan .part1 img, .compBan .part2 img {
      width: 400px; }
    .compBan .part1 article, .compBan .part2 article {
      width: 300px;
      color: #292723; }
  .compBan .part2 {
    background-color: #fdd86e;
    border-radius: 0px 10px 10px 0px; }
    .compBan .part2 span {
      color: #3d3d47;
      font-size: 1.5625rem; }
    .compBan .part2 article {
      padding-top: 20px;
      color: #5a5c61;
      width: 300px; }
    .compBan .part2 .officeImg {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      gap: 10px; }
      .compBan .part2 .officeImg img {
        width: 200px;
        border-radius: 20px;
        aspect-ratio: 1/1; }

.banR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
  width: 50vw;
  aspect-ratio: 5 / 1; }
  .banR .dirImg img {
    width: 150px;
    border-radius: 150px; }
  .banR span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .banR span p {
      font-size: 1.375rem;
      color: #c2d18c;
      width: 500px; }
    .banR span p2 {
      font-size: 18px;
      color: antiquewhite;
      text-align: right;
      padding-top: 10px; }

.teamS {
  color: yellow;
  font-size: 25px;
  padding-top: 20px; }

.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 800px;
  gap: 10px; }
  .team img {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50px; }

.teamF {
  color: aquamarine;
  font-family: Oxygen;
  font-size: 25px; }

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 60px; }

.botonPagF {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 10px; }
  .botonPagF button {
    width: 25px;
    aspect-ratio: 1/2;
    background-color: blue;
    color: aliceblue; }

@media (max-width: 768px) {
  .naviBar {
    padding-left: 40px; }
    .naviBar ul {
      gap: 10px; }
      .naviBar ul button {
        width: 70px;
        height: 30px; }
        .naviBar ul button a {
          font-size: 10px; }
      .naviBar ul label {
        width: 140px;
        padding-left: 20px; }
  .mainContain {
    width: 100%; }
    .mainContain .busqSect {
      width: 70%;
      margin: 50px;
      aspect-ratio: 2/1; }
      .mainContain .busqSect .izq {
        width: 80%; }
      .mainContain .busqSect .der {
        width: 79%; }
        .mainContain .busqSect .der strong {
          font-size: 25px; }
        .mainContain .busqSect .der article {
          width: 80%;
          font-size: 16px; }
        .mainContain .busqSect .der button {
          width: 30%;
          height: 15%; }
          .mainContain .busqSect .der button a {
            font-size: 10px; }
  .groupStar img {
    width: 15px; }
  .sectionFoot .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px; }
    .sectionFoot .footer .list1 strong, .sectionFoot .footer .list2 strong, .sectionFoot .footer .flexEmpCont .containList ul .list3 strong, .flexEmpCont .containList ul .sectionFoot .footer .list3 strong, .sectionFoot .footer .flexEmpCont .containList ul .list4 strong, .flexEmpCont .containList ul .sectionFoot .footer .list4 strong, .sectionFoot .footer .flexEmpCont .containList ul .list5 strong, .flexEmpCont .containList ul .sectionFoot .footer .list5 strong {
      font-size: 16px; }
    .sectionFoot .footer ul li {
      font-size: 10px; } }

@media (max-width: 320px) {
  .naviBar {
    width: 100%;
    height: 30px; }
    .naviBar ul {
      width: 310px;
      gap: 5px; }
      .naviBar ul button {
        width: 100%;
        height: 20px; }
        .naviBar ul button a {
          font-size: 10px; }
      .naviBar ul label img {
        display: none; }
      .naviBar ul label input {
        display: none; }
  .artOfert {
    width: 80%;
    font-size: 10px; }
  .mainContain .busqSect {
    width: 300px;
    margin: 50px;
    aspect-ratio: 2/1; }
    .mainContain .busqSect .izq {
      width: 50%; }
    .mainContain .busqSect .der {
      width: 49%; }
      .mainContain .busqSect .der strong {
        font-size: 12px; }
      .mainContain .busqSect .der article {
        width: 80%;
        font-size: 8px; }
      .mainContain .busqSect .der button {
        width: 30%;
        height: 15%; }
        .mainContain .busqSect .der button a {
          font-size: 10px; }
  .groupStar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .groupStar img {
      width: 5%; }
  .sectionFoot .footer {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    .sectionFoot .footer .list1 strong, .sectionFoot .footer .list2 strong, .sectionFoot .footer .flexEmpCont .containList ul .list3 strong, .flexEmpCont .containList ul .sectionFoot .footer .list3 strong, .sectionFoot .footer .flexEmpCont .containList ul .list4 strong, .flexEmpCont .containList ul .sectionFoot .footer .list4 strong, .sectionFoot .footer .flexEmpCont .containList ul .list5 strong, .flexEmpCont .containList ul .sectionFoot .footer .list5 strong {
      font-size: 14px; }
    .sectionFoot .footer .list1 .line2, .sectionFoot .footer .list2 .line2, .sectionFoot .footer .flexEmpCont .containList ul .list3 .line2, .flexEmpCont .containList ul .sectionFoot .footer .list3 .line2, .sectionFoot .footer .flexEmpCont .containList ul .list4 .line2, .flexEmpCont .containList ul .sectionFoot .footer .list4 .line2, .sectionFoot .footer .flexEmpCont .containList ul .list5 .line2, .flexEmpCont .containList ul .sectionFoot .footer .list5 .line2 {
      width: 60px; }
    .sectionFoot .footer ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .sectionFoot .footer ul p {
        font-size: 12px; }
      .sectionFoot .footer ul li {
        font-size: 10px;
        text-wrap: balance; }
  .redPart .line {
    width: 40px; }
  .redPart .redIco img {
    width: 20px; } }

@container cardContain(width > 600px) {
  article {
    display: grid;
    grid-auto-flow: column; }
    article .imageCont img {
      width: 100%; } }

@container cardContain(width < 600px) {
  article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%; }
  .imageCont img {
    width: 80%; } }

@container cardQ (width < 600px) {
  .cardPostGrid .cardPost span {
    font-size: 20px; }
  .cardPostGrid .cardPost p {
    font-size: 60px; } }
