@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Shrikhand&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding-top: 50px; }

.gridMain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 700px;
  background-image: url(../assets/img/background.png);
  background-repeat: no-repeat;
  background-size: 95vw,200px;
  background-position-x: center;
  background-position-y: 100px; }
  .gridMain .searchBar {
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px; }
  section h1 {
    width: 800px;
    display: flex;
    flex-direction: grow;
    justify-content: center;
    align-items: center;
    color: #b9f331; }
  section article {
    padding-top: 20px;
    width: 50%;
    height: 80px;
    color: aliceblue; }

section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section2 .compList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  section2 .empImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px; }
    section2 .empImg img {
      width: 100px;
      border-radius: 80px;
      border: 4px solid yellowgreen; }
    section2 .empImg span {
      padding-left: 20px;
      color: yellow;
      width: 400px;
      font-size: 15px;
      font-family: Shrikhand; }
  section2 .company img {
    width: 600px;
    border-radius: 20px;
    border: 2px solid chartreuse; }

section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section3 .textCand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding-top: 50px;
    font-size: larger;
    font-weight: bold;
    color: yellow; }

body {
  background-color: black; }

footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  color: #eef700;
  padding-top: 200px; }
  footer section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px; }
    footer section2 .line {
      width: 500px;
      height: 1px;
      gap: 20px;
      background-color: yellow; }
    footer section2 .redPart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 100px;
      padding-top: 20px; }
      footer section2 .redPart .redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #4a4845;
        width: 100vw;
        height: 250px;
        gap: 20px; }
        footer section2 .redPart .redes ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          footer section2 .redPart .redes ul span {
            width: 200px; }
    footer section2 ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      footer section2 ul img {
        width: 30px; }
      footer section2 ul li {
        width: 200px;
        list-style: none; }
    footer section2 span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%; }
      footer section2 span p {
        padding-top: 10px;
        width: 400px; }
  footer .footText p {
    width: 800px;
    font-family: Shrikhand;
    font-size: 12px; }

.cvGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px; }
  .cvGrid .cvImg {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    order: 2; }
    .cvGrid .cvImg img {
      width: 400px; }
  .cvGrid h2 {
    color: yellow;
    padding-top: 20px; }
  .cvGrid article {
    padding-top: 20px;
    color: yellow;
    width: 10vw; }

.cvTips {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.profileCv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .profileCv .profile img {
    width: 15vw; }
  .profileCv article2 {
    width: 20vw;
    color: yellowgreen; }
  .profileCv label {
    all: unset;
    width: 50px; }
  .profileCv .fileUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px; }
    .profileCv .fileUp img {
      width: 50px; }

.formCv, .checkList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px; }
  .formCv label, .checkList label {
    color: yellowgreen; }
  .formCv input, .checkList input {
    width: 90px;
    background-color: yellowgreen; }

.checkList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }
  .checkList input {
    width: 120px; }
  .checkList .skills, .checkList .idiomas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    border: 2px solid yellowgreen;
    border-radius: 20px; }
    .checkList .skills .checkImg img, .checkList .idiomas .checkImg img, .checkList .idiomas .talkGirl img {
      width: 150px; }
    .checkList .skills h3, .checkList .idiomas h3, .checkList .skills h4, .checkList .idiomas h4, .checkList .idiomas h5 {
      color: yellowgreen; }
  .checkList .check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 350px; }
  .checkList .idiomas {
    height: 400px; }
    .checkList .idiomas .talkGirl img {
      border-radius: 100px; }
    .checkList .idiomas h5 {
      padding-top: 20px; }
  .checkList .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.ofertGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 80px; }
  .ofertGrid h5 {
    font-size: 25px;
    color: yellowgreen;
    width: 800px;
    padding-bottom: 10px; }
  .ofertGrid .jobImg img {
    width: 600px;
    border-radius: 200px; }

.gridSection2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 100vw; }
  .gridSection2 span {
    font-size: 30px;
    color: yellowgreen; }
  .gridSection2 span {
    font-size: 18px;
    width: 700px;
    padding-top: 60px;
    color: #19bcee; }
  .gridSection2 .botonPagF {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px; }
    .gridSection2 .botonPagF button {
      width: 25px;
      aspect-ratio: 1/2;
      background-color: blue;
      color: aliceblue; }

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 20px; }
  .flexContainer h6, .flexContainer article {
    color: aliceblue;
    font-size: 30px; }
  .flexContainer article {
    font-size: 20px; }
  .flexContainer .bannBest img {
    width: 700px; }
  .flexContainer .top5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 80vw;
    gap: 20px; }
  .flexContainer span {
    color: yellow;
    font-size: 1.5625rem; }

.flexContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.compBan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.botonesPag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  gap: 5px; }

.gridRrhh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 30px; }
  .gridRrhh h6, .gridRrhh .flexContainer article, .flexContainer .gridRrhh article {
    font-size: 25px;
    color: yellowgreen; }
  .gridRrhh article {
    font-size: 1.125rem;
    color: antiquewhite;
    width: 500px; }

.navBar {
  display: flex;
  justify-content: row;
  align-items: center;
  background-color: #3f3232;
  width: 100vw;
  height: 50px; }
  .navBar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px; }
    .navBar ul a {
      text-decoration: none;
      color: black; }
    .navBar ul button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 40px;
      background-color: yellow;
      color: black;
      border-radius: 40px;
      font-family: Oxygen;
      font-size: 12px; }
    .navBar ul input {
      background-color: yellow; }
    .navBar ul label {
      display: flex;
      justify-content: row;
      align-items: center;
      width: 80px;
      height: 50px;
      color: #f2f2e4;
      padding-left: 100px;
      font-size: 1.125rem;
      font-family: Oxygen; }

.searchBar {
  width: 700px;
  height: 150px;
  background-color: yellow;
  border-radius: 50px; }
  .searchBar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    .searchBar ul div img {
      width: 28px;
      height: 35px; }
    .searchBar ul input {
      background-color: black;
      color: yellow; }

.card, .card2, .card3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  padding-top: 50px;
  gap: 10px; }
  .card .box, .card2 .box, .card3 .box {
    width: 100px;
    height: 100px;
    background-image: url(../assets/img/faceicon.jpg);
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%; }
  .card .icon, .card2 .icon, .card3 .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card .icon spam, .card2 .icon spam, .card3 .icon spam {
    width: 12px; }
  .card .count, .card2 .count, .card3 .count {
    color: yellowgreen; }
  .card .icon img, .card2 .icon img, .card3 .icon img {
    width: 30px; }
  .card .text, .card2 .text, .card3 .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 300px;
    height: 100px;
    border-radius: 35px;
    border: 2px solid #8bf01f; }
    .card .text p, .card2 .text p, .card3 .text p {
      width: 70%;
      font-size: medium;
      font-weight: bold;
      color: #8bf01f; }

.card2 .box, .card3 .box {
  background-image: url(../assets/img/empIcon2.jpg); }

.card2 .text, .card3 .text {
  border: 2px solid #19bcee; }
  .card2 .text p, .card3 .text p {
    color: #19bcee; }

.card3 .box {
  background-image: url(../assets/img/faceicon3.jpg); }

.card3 .text {
  border: 2px solid #ee19bc; }
  .card3 .text p {
    color: #ee19bc; }

.company img {
  padding-top: 20px; }

.cardComp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: 1px solid yellowgreen;
  padding-top: 50px; }
  .cardComp span {
    width: 300px; }
  .cardComp .compList {
    padding-top: 20px; }
    .cardComp .compList ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 60px;
      border: 2px solid yellowgreen;
      border-radius: 30px;
      gap: 25px;
      list-style: none;
      text-decoration: none; }
      .cardComp .compList ul .like img {
        width: 30px; }
      .cardComp .compList ul li a {
        all: unset;
        color: yellow; }

.topJob, .topJob1, .topJob2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: blueviolet;
  border-radius: 40px;
  border: 2px solid yellow;
  width: 550px;
  height: 70px; }
  .topJob .number, .topJob1 .number, .topJob2 .number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px; }
    .topJob .number .circle, .topJob1 .number .circle, .topJob2 .number .circle {
      background-color: #232346;
      width: 50px;
      height: 50px;
      border-radius: 50px; }
    .topJob .number span, .topJob1 .number span, .topJob2 .number span {
      font-size: 40px;
      padding-top: 50px;
      color: #c5b203;
      padding-left: 15px;
      border: 20px; }
  .topJob .star, .topJob1 .star, .topJob2 .star {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .topJob div img, .topJob1 div img, .topJob2 div img {
    width: 50px; }
  .topJob .cargo, .topJob1 .cargo, .topJob2 .cargo {
    font-size: 20px;
    color: aliceblue; }
  .topJob .rate, .topJob1 .rate, .topJob2 .rate {
    font-size: 20px;
    color: #c7e907; }

.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px; }
  .botones button {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    background-color: yellow;
    border-radius: 70px; }

.topJob1, .topJob2 {
  margin-top: 50px; }

.banOfer1 {
  display: flex;
  flex-direction: grow;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 150px;
  padding-top: 100px; }
  .banOfer1 .part1, .banOfer1 .compBan .part2, .compBan .banOfer1 .part2 {
    width: 150px;
    aspect-ratio: 1/1; }
    .banOfer1 .part1 img, .banOfer1 .compBan .part2 img, .compBan .banOfer1 .part2 img {
      width: 150px; }
  .banOfer1 .part2 img {
    width: 550px;
    height: 150px; }

.bannAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; }
  .bannAlign .bann2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 20px; }
    .bannAlign .bann2 button {
      width: 80px;
      aspect-ratio: 2/1;
      background-color: #8de22b;
      border-radius: 30px;
      color: #1d2a36; }
    .bannAlign .bann2 .banOfer1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 150px; }

.imgCard img {
  width: 10vw;
  aspect-ratio: 1/1; }

button {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background-color: blueviolet;
  border-radius: 20px; }
  button a {
    color: #dcfa32;
    text-decoration: none; }

.cardEmp {
  background-color: #e9bf5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 15vw;
  height: 210px;
  border: 10px solid #fdd86e;
  border-radius: 10px; }
  .cardEmp span {
    color: #fffb00;
    font-size: 18px; }
    .cardEmp span strong {
      font-size: 25px;
      color: #333326; }
  .cardEmp .lineCard {
    width: 12vw;
    height: 1px;
    background-color: white; }
  .cardEmp img {
    width: 10vw;
    padding-top: 5px;
    aspect-ratio: 2/1; }

.compBan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65vw;
  aspect-ratio: 2 / 1;
  background-color: #fdd86e;
  border-radius: 10px; }
  .compBan .part1, .compBan .part2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 10px 0px 0px 10px; }
    .compBan .part1 img, .compBan .part2 img {
      width: 400px; }
    .compBan .part1 article, .compBan .part2 article {
      width: 300px;
      color: #292723; }
  .compBan .part2 {
    background-color: #fdd86e;
    border-radius: 0px 10px 10px 0px; }
    .compBan .part2 span {
      color: #3d3d47;
      font-size: 1.5625rem; }
    .compBan .part2 article {
      padding-top: 20px;
      color: #5a5c61;
      width: 300px; }
    .compBan .part2 .officeImg {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      gap: 10px; }
      .compBan .part2 .officeImg img {
        width: 200px;
        border-radius: 20px;
        aspect-ratio: 1/1; }

.banR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
  width: 50vw;
  aspect-ratio: 5 / 1; }
  .banR .dirImg img {
    width: 150px;
    border-radius: 150px; }
  .banR span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .banR span p {
      font-size: 1.375rem;
      color: #c2d18c;
      width: 500px; }
    .banR span p2 {
      font-size: 18px;
      color: antiquewhite;
      text-align: right;
      padding-top: 10px; }

@media (max-width: 768px) {
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 768px; }
    .navBar ul {
      width: 768px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-right: 100px; }
      .navBar ul button {
        width: 80px; }
      .navBar ul label {
        padding-left: 10px;
        width: 50px; }
      .navBar ul input {
        width: 100px; }
  .gridMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-top: 200px; }
    .gridMain .searchBar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 40px; }
      .gridMain .searchBar input {
        width: 60px;
        height: 15px; }
      .gridMain .searchBar ul div img {
        width: 18px;
        height: 25px; }
  footer {
    width: 768px;
    height: 100px; }
    footer section2 .redPart .redes {
      width: 100vw;
      height: 300px; }
      footer section2 .redPart .redes ul li {
        width: 150px;
        font-size: 12px; }
    footer .footText {
      width: 500px; }
      footer .footText p {
        font-size: 10   px; } }

.jobCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 150px; }
  .jobCard .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; }
    .jobCard .preview .jobMini Img {
      width: 120px; }

@media (max-width: 320px) {
  .navBar {
    height: 50px; }
  main .gridMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position-x: 15px;
    background-position-y: center;
    width: 800px;
    padding-right: 50px;
    background-size: 700px,400px; }
    main .gridMain .searchBar {
      width: 400px; }
      main .gridMain .searchBar input {
        width: 70px;
        height: 15px; }
  main section {
    width: 750px; }
    main section h1 {
      width: 95vw; }
    main section article {
      width: 80vw; }
  main section2 {
    width: 750px;
    padding-top: 100px; }
    main section2 .complist {
      width: 750px; }
  .redes {
    width: 300px; }
  footer section2 {
    width: 100%; }
    footer section2 .redPart {
      width: 100%; }
      footer section2 .redPart .redes {
        width: 100%; }
  .ofertGrid {
    width: 750px; }
    .ofertGrid h5 {
      width: 700px; }
  .gridSection2 {
    width: 740px;
    padding-top: 50px; }
    .gridSection2 .banOfer1 {
      width: 400px; }
    .gridSection2 .bannAlign {
      width: 700px; } }

@container card (max-width: 500px) {
  precio {
    display: none; } }
