.sectionFoot{
    height: 200px;
    background-color: rgb(97, 97, 85);
    padding-top: 30px;
    .footer{ 
        @include flex4(row,center,center,100px);
        width: 100%;   
        .qrCode{
            img{
                width: 100px;
            }
        }
        ul{
            all: unset;
            list-style: none;
        }   
        .list1{
            @include flex4(column,center,center,20px);
            strong{
                font-size: 20px;
                color:white
            }
            li{
                color:white;
                a{
                    font-size: 10px;
                    color:white
                }
            }
            .dirFoot{
                @include flex4(row,center,center,20px);
                img{
                    width: 50px;
                }
            }
            .line2{
                width: 100%; 
                height: 1px;
                background-color: rgb(177, 11, 228);
            }
        }
        .list2{
            @extend .list1;
        }
    }
}

.redPart{
    @include flex4(row, center,center,30px);
    background-color: rgb(177, 11, 228);
    height: 50px;
    .line{
        width: 100px;
        height: 1px;
        background-color: rgb(33, 228, 43);
        color: antiquewhite;
    }
    .redIco{
        img{
            width: 30px;
        }
    }

}
    
         
            

