.ofertGrid{
    @include flex3(column,center,center);
    width: 100vw;
    padding-top: 80px;
    h5{
        font-size: 25px;
        color: yellowgreen;
        width: 800px;
        padding-bottom: 10px;
    }
    .jobImg{
        img{
            width: 600px;
            border-radius: 200px;
        }
    
    
}
}
    


      

    
