.ofertGrid{
    @include flex3(column,center,center);
    width: 100vw;
    padding-top: 80px;
    h5{
        font-size: 25px;
        color: yellowgreen;
        width: 800px;
        padding-bottom: 10px;
    }
    .jobImg{
        img{
            width: 600px;
            border-radius: 200px;
        }
      
}
}
.gridSection2{
    @include flex3(column,center,center);
    padding-top: 100px;
    width: 90vw;
    .anun1{
        font-size: 35px;
        padding-top: 60px;
        color: map-get($colorFuente, color1);
        font-family: map-get($tipoSitio, fuente2);
    }
    .ofertBan{
        img{
            width: 800px;
            aspect-ratio: 1,5/1;
        }
    }
    .bannAlign{
        @include flex3(column,center,center);
    }
}
 


      

    
