.gridRrhh{
    @include flex3(column,center,center);
    padding-top: 50px;
    gap: 10px;
    h6{
        font-size: 25px;
        color: yellowgreen;
    }
    article{
        font-size: 1.5625rem;
        color: antiquewhite;
        width: 500px;
    }
}