.cvGrid{
    @include flex3(column,center,center);
    padding-top: 100px;
    .cvImg{
        grid-column: 3 / 4;
        grid-row: 3 / 5;
        order: 2;
        img{
            width: 400px;            
        }
    }
    h2{
        color: yellow;
        padding-top: 20px;
    }
    article{
        padding-top: 20px;
        color: yellow;
        width: 10vw;    
    }
}
.cvTips{
    padding-top: 50px;
    @include flex3(row,center,center); 
    }
.profileCv{
    @include flex3(column,center,center);
    .profile{
        img{
            width: 15vw;
    }
        }
    article2{
        width: 20vw;
        color: yellowgreen;
    }
    label{
        all: unset;
        width: 50px;
    }
    .fileUp{
        @include flex3(column,center,center);
        padding: 25px;
        img{
            width: 50px;
        }
    }
} 
    
        .formCv{
            @include flex3(row,center,center);
            gap: 12px;
            label{
                color: yellowgreen;
            }
            input{
                width: 90px;
                background-color: yellowgreen;
            }
                             
            }
        .checkList{
            @extend .formCv;
            @include flex3(column,center,center);
            gap: 10px;
            input{
                width: 120px;             
            }
            .skills{    
                @include flex3(column,center,center);
                width: 400px;
                height: 250px;
                border: 2px solid yellowgreen;
                border-radius: 20px;
                .checkImg{
                    img{            
                    width: 150px;
                    }
                }
                h3{
                    color: yellowgreen; 
                }
            }
            .check{
                @include flex3(row,center,center);
                padding-top: 10px;
                width: 350px;            
            }
            h4{
                @extend h3;
            }
        
            .idiomas{
                @extend .skills;
                height: 400px;
                .talkGirl{
                    @extend .checkImg;
                    img{               
                    border-radius: 100px;
                    }                  
                }
                h5{
                    padding-top: 20px;
                    @extend h4;
                }
            }
            .contact{
                @include flex3(column,center,center);
            }
            
        }
            
       
            
        
    
    
     
    
            

    

    
    


         
    

        
     



    
    
    
   