.cvFlex{
    @include flex3(column,center,center);
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    padding-top: 100px;    
    margin: auto;
    }
    .cvImg{
        img{    
        width: 100%;
        min-width: 200px;
        mask-image: linear-gradient(black 80%, tranparent);

        }
    }
    h2{
        color: yellow;
        padding-top: 20px;
    }
    .cvArt{
        margin: auto;
        padding-top: 20px;
        padding-left: 10px;
        color: yellow;
        width: 70%;  
        min-width: 100px;
        font-size: 20px; 
        text-wrap: pretty;
        strong{
            color: aliceblue;
            font-size: 25px;
        }
    }

.cvTips{
    padding-top: 50px;
    @include flex3(column,center,center); 
    .cvImg{
        width: 40%;
        min-width: 200px;
    }
    }
.profileCv{
    @include flex3(column,center,center); 
    .profile{
        @include flex3(column,center,center);
        img{
            width: 40%;

    }
        }
    .artCvInfo{
        @include flex3(column,center,center);
        width: 70%;
        min-width: 300px;
        font-size: 25px;
        color: yellowgreen;
        margin: auto;
    }
    label{
        all: unset;
        width: 50px;
    }
    .fileUp{
        @include flex3(column,center,center);
        padding: 25px;
        img{
            width: 25%;
        }
    }
} 
    
        .formCv{
            @include flex3(row,center,center);
            margin: auto;
            width: 50%;
            gap: 10px;
            margin-top: 20px;
            label{
                color: yellowgreen;
            }
            input{
                width: 90px;
                background-color: yellowgreen;
            }
                             
            }
        .subForm{
            @include flex4(column,center,center,10px);
            margin: 25px;
            label{
                color: yellowgreen;
            }
            input{
                width: 90px;
                background-color: yellowgreen;
            }
            .buttonCv{
                background-color: aquamarine;
                width: 5%;
                height: 40px;
                min-width: 80px;
                a{
                    color: map-get($colorFuente , color5 );
                    text-decoration: none;
                }
            }
        }

        
            
       
            
        
    
    
     
    
            

    

    
    


         
    

        
     



    
    
    
   