
.card{
    @include flex3(row,center,center);
    @include w-h(400px,200px);
    padding-top: 50px;
    gap: 10px;
    .box{
        width: 100px;
        height: 100px;
        background-image: url(../assets/img/faceicon.jpg);
        background-size: 150px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
    }
    .icon{
        @include flex3(column,center,center)
    }

    .icon spam{
        width: 12px;
    }
    .count{
        color: yellowgreen;
    }
    .icon img{
        width: 30px;
    }
    .text{
        @include flex3(row,center,center);
        background-color: transparent;
        width: 300px;
        height: 100px;      
        border-radius: 35px;    
        border: 2px solid map-get($colorSitio , colorbox1);      
        p{  
            width: 70%;
            font-size: medium;
            font-weight: bold;
            color: map-get($colorSitio , colorbox1);
        }
    }
}

.card2{
    @extend .card;
    .box{
    background-image: url(../assets/img/empIcon2.jpg);
    }
    .text{
        border: 2px solid map-get($colorSitio , colorbox2);
        p{
            color: map-get($colorSitio , colorbox2);
        } 
        }
}
.card3{
    @extend .card2;
    .box{
        background-image: url(../assets/img/faceicon3.jpg);
        }
    .text{
        border: 2px solid map-get($colorSitio , colorbox3);
        p{
            color: map-get($colorSitio , colorbox3);
        } 
    }
}
.company{
    img{
        padding-top: 20px;
    }
    
}
.cardComp 
    { 
    @include flex3(column,center,center);
    border-color: 1px solid yellowgreen;
    padding-top: 50px;
    span{       
        width: 300px;
    }
    .compList{  
        padding-top: 20px;
        ul{
            @include flex3(row,center,center); 
            @include w-h(350px,60px);
            border: 2px solid yellowgreen;
            border-radius: 30px;   
            gap: 25px; 
            list-style: none;
            text-decoration: none;
            .like{      
                img{
                width: 30px;
                }
            } 
            li{
                a{
                @include aText(map-get($colorSitio, color2));             
                }       
            } 
        
        } 
    }  
}
.topJob{
    @include flex3(row,center,center);
    gap: 10px;
    background-color: blueviolet;
    border-radius: 40px;
    border:  2px solid yellow;
    width: 550px;
    height: 70px;
    .number{
        @include flex3(row,center,center);  
        @include w-h(50px,50px);   
        .circle{
                background-color: rgb(35, 35, 70);
                width: 50px;
                height: 50px;
                border-radius: 50px;    
        }   
        span{
                font-size: 40px;
                padding-top: 50px;
                color: rgb(197, 178, 3);
                padding-left: 15px;
                border: 20px;
        }
    }
    
    .star{
        @include flex3(row,center,center);

    }
    div{     
      img{
            width: 50px;
        }

    }
    .cargo{
        font-size: 20px;
        color: aliceblue;
    }
    .rate{
        font-size: 20px;
        color: rgb(199, 233, 7);
    }
}
.botones{
    @include flex3(row,center,center);
    gap: 10px;

   button{
        all: unset;
        @include flex3(column,center,center);
        margin-top: 20px;
        width: 80px;
        height: 40px;
        background-color:yellow;
        border-radius: 70px;
        }
}

.topJob1{
    @extend .topJob;
    margin-top: 50px;
    
}
.topJob2{
    @extend .topJob1;
}
// Style_OfertasLab
.banOfer1{
    @include flex3(column,center,center);
    width: 700px;
    height: 150px;
    padding-top: 100px;  
    .part1{
        width: 150px;
        aspect-ratio: 1/1;
        img{
            width: 150px;
            
        }
    }
    .part2{
        img{
            width: 550px;
            height: 150px;
        }
    }
}
.bannAlign{
    @include flex3(column,center,center);
    width: 750px;   
    gap: 20px;
    span{
        color: map-get($colorFuente , color0)
    }
    .bann2{
    @include flex3(column,center,center);
    width: 750px;
    border: 2px solid rgb(164, 245, 13);
    padding: 10px;
    border-radius: 20px;
        .banOfer1{
            @include flex3(row,center,center);
            width: 750px;
            height: 200px;   
            }
        .jobDescript{
            width: 70%;
            padding-top: 40px;
            
        }
        }       
        button{
            width: 80px;
            aspect-ratio: 2/1;
            background-color: rgb(141, 226, 43);
            border-radius: 30px;
            color: rgb(29, 42, 54);
        }
    }
                
        .imgCard{
            img{
                width: 10vw;
                aspect-ratio: 1/1;
            }
        }
    button{
        all:unset;
        @include flex3(column,center,center);
        width: 60px;
        height: 30px;
        background-color: blueviolet;
        border-radius: 20px;
        a{
        color: rgb(220, 250, 50);
        text-decoration: none;
        }
    }

    
// Style Pag Empresas
.cardEmp{
    background-color: #e9bf5b;
    @include flex3(column,center,center);
      gap: 5px;
      width: 15vw;
      height: 210px;
      border: 10px solid #fdd86e;
      border-radius: 10px;
        span{
          color: rgb(255, 251, 0);
          font-size: 18px;
          strong{
              font-size: 25px;
              color: rgb(51, 51, 38);
            } 
        }
    .lineCard{
        width: 12vw;
           height: 1px;
           background-color:  rgb(255, 255, 255);
    }
    img{
        width: 10vw;
        padding-top: 5px;
        aspect-ratio: 2/1;
    }            
}

.compBan{
    @include flex3(row,center,center);
    width: 65vw;
    aspect-ratio: 2 / 1;
    background-color: #fdd86e;
    border-radius: 10px;
    .part1{
        @include flex3(column,center,center);
        width: 50%;
        height: 100%;
        background-color: aliceblue;
        border-radius: 10px 0px 0px 10px;
        img{
            width: 400px;
        }
        article{
            width: 300px;
            color: #292723;
        }
    }
    .part2{
        @extend .part1;
        background-color: #fdd86e;
        border-radius: 0px 10px 10px 0px;
        span{
            color: rgb(61, 61, 71);
            font-size: 1.5625rem;
        }
        article{
            padding-top: 20px;
            color: #5a5c61;
            width: 300px;
            
        }
        .officeImg{
            @include flex3(row,center,center);
            padding-top: 10px;
            gap: 10px;
                img{
                    width: 200px;
                    border-radius: 20px;
                    aspect-ratio: 1/1;
                }

        }
    }
}
// RRHH Style
.banR{
    @include flex3(row,center,center);
    padding-top: 100px;
    gap: 20px;
    width: 50vw;
    aspect-ratio: 5 / 1;
    .dirImg{
        img{
            width: 150px;
            border-radius: 150px;
        }
    }
    span{
        @include flex3(column,center,center);
        p{
            font-size: 1.375rem;
            color: #c2d18c;
            width: 500px;
        } 
        p2{
            font-size: 18px;
            color: antiquewhite;
            text-align: right;
            padding-top: 10px;
        }          
    }
}
.teamS{
    color: map-get($colorFuente , color3);
    font-size: 25px;
    padding-top: 20px;
}
.team{
    @include flex3(row,center,center);
    padding-top: 20px;
    width: 800px;
    gap: 10px;
    img{
        width: 100px;
        aspect-ratio: 1/1;
        border-radius: 50px;
    }
}

.teamF{
    color: map-get($colorFuente, color1);
    font-family: map-get($tipoSitio , fuente3);
    font-size: 25px;

}
.joinUs{
    @include flex3(column,center,center);
    margin-top: 40px;
    width: 160px;
    height: 50px;
    border-radius: 60px;
}




.botonPagF{
    @include flex3(row,center,center);
    gap: 5px;
    padding-top: 10px;
    button{    
    width: 25px;
    aspect-ratio: 1/2;
    background-color: blue;
    color: aliceblue;
    }
}
// RRHH Style

  
    





    

   


