// Index Search //
.mainContain{
    @include flex3(column,center,center);
    container-type: inline-size;
    container-name: cardContain;
   .busqSect{
    @include flex3(row,center,center);
    width: 80%;
    aspect-ratio: 2/1;
    border-radius: 10px;
    .articleCont{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
        width: 100%;
        background-color: #f4f7f5;
        article{     
            color: #8a8b89;
            font-size: 30px;
            width: 100%;
            border-radius: 20px;
            strong{
                color: #5a5c61;
                font-family: map-get($tipoSitio , fuente2 );
                font-size: 32px;
            }
            
        }
        button{
            background-color: blueviolet;
            a{
                color: #f4f7f5;
                text-decoration: none;
            }
        }
    .imageCont{ 
        width: 100%;
        img{
            width: 100%;

        }
    }
    .buttonClass{
        @include flex4(row,center,center,10px);
        button{
            width: 40%;
            :hover{
                @include flex3(row,center,center);
                width: 100%;
                aspect-ratio: 3/1;
                border-radius: 40px;
                background-color: #0fec72;
                color: #292723;
            }
        }
    }
        
    }
    }
}
// Ofert Lab Styles
.bannerMain{
    display: flex;
    img{
        width: 80%;
        max-width: 800px;
        min-width: 300px;
        margin: auto;
        justify-content: center;
        border-radius: 50%;

    }
}
.sectionGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));   
    gap: 40px;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    width: 100%;
    .card1{
        @include flex3(column,center,center);
        width: 200px;
        object-fit: cover;
        height: auto;
        background-color: #c2d18c;
        border: 2px solid #fdd86e;
        border-radius: 10px;
        box-shadow: 2px 1px 1px 1px rgb(185, 187, 219);
        .cardImg{     
            @include flex3 (column,center,center);
            img{
                width: 70%;
                padding-top: 10px; 
            }
        }
        .cardCont{
            @include flex3(column,center,center);
            text-align: center;
            width: 200px;
            height: 300px;
            border-radius: 10px;
            p{
                width: 100%;
                margin-top: 20px;
                @include flex3(column,center,center);
                font-family: map-get($tipoSitio , fuente5 );
                text-align: center;
                font-size: 30px;
                color: map-get($colorFuente ,color5)
            }
            article{
                width: 100%;
                text-align: center;
                text-wrap: pretty;
                font-size: 16px;
                strong{
                    font-size: 20px;
                    color: map-get($colorFuente ,color3)
                }
                color: map-get($colorFuente ,color6)
            }
            button{             
                width: 100px;
                height: 50px;
                margin: 20px;
                background-color: blueviolet;
                a{
                    text-decoration: none;
                    color: #0fec72;
                }
            }  
        }
    }
    .card2{
        @extend .card1;
        padding: 50px;
        margin: 20px;
    }
    .card3{
        @extend .card1;
    }
    .card4{
        @extend .card1;
    }
}
.cardPostGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    width: 80%; 
    max-width: 800px;
    min-width: 200px;
    background-color: hsl(187, 89%, 56%);
    margin: auto;
    margin-top: 100px;
    .cardPost{
        @include flex3(row,center,center);
        width: 80%;
        min-width: 300px;
        gap: 5px;
        align-items: center;
        .opinionGirl{
            width: 80%;
            min-width: 300px;
            img{
                width: 50%;
                max-width: 800px;
                min-width: 150px;
                border-radius: 90%; 
                margin: auto;
            }
        }
        span{
            color: map-get($colorFuente , color0 );
            font-family: map-get($tipoSitio , fuente5 );
            font-size: 35px;
            text-wrap: pretty;
            width: 60%;
            padding: 20px;
        }
        p{
            color: #f4f7f5;
            font-size: 100px;
            margin: auto;
        }
    }
}

.bannSection{
    @include flex3(column,center,center);
    gap:50px;
    margin: auto;
    .bannPost{
        @include flex3(column,center,center);
        width: 100%;
        .circle{
            @include flex3(row,center,center);
            img{
                width: 40%; 
            }
        }
        p{
            color: #08c25c;
            font-size: clump(40px, 24px,30px);
            font-family: map-get($tipoSitio, fuente5); 
        }
        .likeSect{
            @include flex3(row,center,center);
            border: 1px solid #e9bf5b;
            height: 50px;
            width: 250px;
            border-radius: 10px;
            background-color: #c1e6d2;
            padding-top: 10px;
            margin-top: 20px;
            gap: 10px;
            .icon{
                img{
                    width: 35px;
                }
            }
            span{
                color: map-get($colorFuente , color5 );
                font-size: 20px

            }
        }
        
    }
    .bannPost2{
        @extend .bannPost;
        margin-top: 70%;
    }
    .bannPost3{
        @extend .bannPost;
    }
}
// Index End //

//Ofertas Lab Style //

//Ofertas Lab Style End //


    
// Style Pag Empresas
.cardEmp{
    background-color: #e9bf5b;
    @include flex3(column,center,center);
      gap: 5px;
      width: 15vw;
      height: 210px;
      border: 10px solid #fdd86e;
      border-radius: 10px;
        span{
          color: rgb(255, 251, 0);
          font-size: 18px;
          strong{
              font-size: 25px;
              color: rgb(51, 51, 38);
            } 
        }
    .lineCard{
        width: 12vw;
           height: 1px;
           background-color:  rgb(255, 255, 255);
    }
    img{
        width: 10vw;
        padding-top: 5px;
        aspect-ratio: 2/1;
    }            
}

.compBan{
    @include flex3(row,center,center);
    width: 65vw;
    aspect-ratio: 2 / 1;
    background-color: #fdd86e;
    border-radius: 10px;
    .part1{
        @include flex3(column,center,center);
        width: 50%;
        height: 100%;
        background-color: aliceblue;
        border-radius: 10px 0px 0px 10px;
        img{
            width: 400px;
        }
        article{
            width: 300px;
            color: #292723;
        }
    }
    .part2{
        @extend .part1;
        background-color: #fdd86e;
        border-radius: 0px 10px 10px 0px;
        span{
            color: rgb(61, 61, 71);
            font-size: 1.5625rem;
        }
        article{
            padding-top: 20px;
            color: #5a5c61;
            width: 300px;
            
        }
        .officeImg{
            @include flex3(row,center,center);
            padding-top: 10px;
            gap: 10px;
                img{
                    width: 200px;
                    border-radius: 20px;
                    aspect-ratio: 1/1;
                }

        }
    }
}
// RRHH Style
.banR{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding-top: 100px;
    width: 70%;
    // aspect-ratio: 6 / 1;
    margin: auto;
    .dirImg{
        img{
            @include flex3(column,center,center);
            width: 30%;
            border-radius: 150px;
        }
    }
    .artFrase{
        width: 100%;
        p{
            font-size: 1.375rem;
            color: #c2d18c;
        } 
        p2{
            font-size: 18px;
            color: antiquewhite;
            text-align: right;
            padding-top: 10px;
        }          
    }
}
.teamS{
    color: map-get($colorFuente , color3);
    font-size: 25px;
    padding-top: 20px;
}
.team{
    @include flex3(row,center,center);
    padding-top: 20px;
    width: 800px;
    gap: 10px;
    img{
        width: 100px;
        aspect-ratio: 1/1;
        border-radius: 50px;
    }
}

.teamF{
    color: map-get($colorFuente, color1);
    font-family: map-get($tipoSitio , fuente3);
    font-size: 25px;

}
button{
    @include flex3(column,center,center);
    width: 160px;
    height: 50px;
    border-radius: 60px;
}




.botonPagF{
    @include flex3(row,center,center);
    gap: 5px;
    padding-top: 10px;
    button{    
    width: 25px;
    aspect-ratio: 1/2;
    background-color: blue;
    color: aliceblue;
    }
}

// }RRHH Style

  
    





    

   


