    .naviBar{
        @include flex3(row,center,center);
        height: 50px;
        background-color: rgb(97, 97, 85);
        ul{
            @include flex4(row,center,center,20px);
            width: 80vw;
            button{
                all: unset;
                @include flex3(row,center,center);
                width: 80px;
                height: 40px;            
                }       
                a{
                    color: yellow;
                    font-family: map-get($tipoSitio, fuente2);
                    text-decoration: none;
                } 
        }
                            
            
            label{
                @include flex4(row,space-around,center,10px);
                img{
                    width: 30px;
                    aspect-ratio: 1/1;
                }
                width: 200px;
                input{
                    width: 80%;
                    background-color: yellow;
                }
                placeholder{
                    background-color: yellow;
                }
            }
            
        
        button:hover{
            @include flex3(row,center,center);
                    background-color: rgb(188, 192, 196);  
                    width: 80px;
                    height: 50px;
                    a{
                        color: black;
                        text-decoration: none;
                        all: unset;
                    }

        }
    }
    

    

        



