@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Shrikhand&display=swap');

$tipoSitio:(
    fuente1:Shrikhand,
    fuente2:Alumni+Sans+Pinstripe,
    fuente3:Oxygen,
);

$colorFuente:(
    color0:white,
    color1:yellowgreen,
    color2:yellow,
    color3:orange,
);




