@media(max-width:320px){
    .navBar{
        height: 50px;
    }
main{
    .gridMain{
        @include flex3(row,center,center);
        background-position-x: 15px;
        background-position-y: center;
        width: 800px;
        padding-right: 50px;
        background-size: 700px,400px;   
        .searchBar{
            width: 400px;
            input{
                width: 70px;
                height: 15px;
            }
        }
    }
    section{
        width: 750px;
        h1{
            width: 95vw;
        }
        article{
            width: 80vw;
        }
    }
    section2{
        width: 750px;
        padding-top: 100px;
        .complist{
            width: 750px;
        }
    }
}  
    .redes{
        width: 300px;
    }
// MediaQ Search Bar //
.gridMain{
    width: 750px;
    height: 400px;

}
section{
    article{
        padding-top: 300px;
        width: 500px;
    }
    
}
.ofertGrid{
    width: 800px;
    h5{
        width: 700px;
    }
}

.gridSection2{
    width: 800px;
    .banOfer1{
        width: 400px;
    }
    .bannAlign{
        width: 700px;
    }
}

// MEDIA Q PAG CV//
.cvGrid{
    width: 750px;
}
.profileCv{
    width: 750px;

    .formCv{
        padding-left: 50px;
    }
}
.checkList{
    height: 300px;
    padding-top: 300px;
}
// MEDIA Q OFERTLAB //
.bannAlign{
    width: 600px;    
}
// MEDIA Q RRHH //
.gridRrhh{
    width: 750px;
}



// MEDIA Q FOOTER //
footer{
    section2{
        width: 100%;
        .redPart{
            width: 100%;
            .redes{
                width: 100%;
            }
        }      
    }        
}



}




