@media(max-width:768px){
.navBar{  
    @include flex3(row,center,center);
    width: 768px;
        ul{
            width: 768px;
            @include flex4(row,center,center,10px);
            padding-right: 100px;
            
        button{
            width: 80px;
        }
        label{
            padding-left: 10px;
            width: 50px;
        }
        input{
            width: 100px;

        }
        }   
    }
    .gridMain{
        @include flex3(column,center,center);
        height: 500px;
        padding-top: 25px;
        .searchBar{
            @include flex3(column,center,center);            
            @include w-h(400px,40px);
            input{
                width: 60px;
                height: 15px;
            }
            ul{
                div img{
                    width: 18px;
                    height: 25px;
                }
            }
            
        }
    }
.jobCard{
    @include flex3(row,center,center);
    gap: 10px;
    width: 150px;
    height: 150px;
        .preview{
            @include flex3(column,center,center);
            gap: 10px;
            .jobMini{
                Img{
                width: 120px;
            }
        }
        }
}
// MediaQ_OfertasLab
.ofertGrid{
    h5{
        width: 700px;

    }
}
// MediaQ_TV_Cv //
.cvGrid{
    img{
        width: 350px;
    }
    article{
        width: 350px;
    }
    
}
.profile{
    img{
        padding-top: 50px;
    }
}
.profileCv{
    article2{
        width: 400px;
        height: 250px;
    }
}
// MEDIA OFERT_LAB
.gridSection2{
    width: 768px;
}


// MEDIA Q FOOTER
footer{
    @include w-h(768px,100px);
    section2{
        .redPart{                  
            .redes{
                width: 100vw;
                height: 300px;               
            ul{
                li{
                    width: 150px;
                    font-size: 12px;
                }                   
            }               
            }
            }
    }   
        .footText{
            width: 500px;
            p{
                font-size: 10   px;
            }
            
        }
}
}

    
