@media(max-width:768px){

// Barra de Navegacion
.naviBar{
    padding-left: 40px;
    ul{
        gap: 10px;
        button{
            width: 70px;
            height: 30px;
            a{
                font-size: 10px;
            }
        
        }   
    label{
        width: 140px;
        padding-left: 20px;
    }        
         
}
}
.mainContain{
    width: 100%;
    .busqSect{
     width: 70%;
     margin: 50px;
     aspect-ratio: 2/1;
     .izq{
         width: 80%;
     }
     .der{
         width: 79%;
         strong{
             font-size: 25px;
         }
         article{
             width: 80%;
             font-size: 16px;
         }
         button{
             width: 30%;
             height: 15%;
             a{
                 font-size: 10px;
             }
         }
 
     }
    }
 }
// Pagina Empresas //
.groupStar{
    img{
        width: 15px;
    }
}
// Pagina Empresas //

//Footer//
.sectionFoot{
    .footer{
        @include flex3(row,center,center);
        .list1{
            strong{
                font-size: 16px;
            }           
        }         
        height: 200px;   
        ul{
            li{
                font-size: 10px;
            }
        }
    }
}

}

