
@media (max-width:320px){
// Barra de Navegacion
.naviBar{
    width: 100%;
    height: 30px;
    ul{
        width: 310px;
        // padding-left: 50px;
        gap: 5px;
        button{
            width: 100%;
            height: 20px;
            a{
                font-size: 10px;
            }
        }

        label{
            img{
                display: none;
            }
            input{
                display: none;
            }
        }

    }
}

// Barra de Navegacion End //

// Ofert Lab//
.artOfert{
    width: 80%;
    font-size: 10px;
}
// Ofert Lab//



// MediaQ card
.mainContain{
   .busqSect{
    width: 300px;
    margin: 50px;
    aspect-ratio: 2/1;
    .izq{
        width: 50%;
    }
    .der{
        width: 49%;
        strong{
            font-size: 12px;
        }
        article{
            width: 80%;
            font-size: 8px;
        }
        button{
            width: 30%;
            height: 15%;
            a{
                font-size: 10px;
            }
        }

    }
   }
}
// SectioN Empresas //
    .groupStar{
        @include flex3(column,center,center);
        width: 100%;
        img{
            width: 5%;
        }
    }
// SectioN Empresas End//

// Section Footer //
.sectionFoot{
    .footer{
        .list1{
            strong{
                font-size: 14px;
            }
            .line2{
                width: 60px;
            }
        }
        height: 200px;
        @include flex4(row,center,center,20px);
        ul{
            @include flex3(column,center,center);
            p{
                font-size: 12px;
            }
            li{
                font-size: 10px;
                text-wrap:balance;
            }
        }
    }
}
.redPart{
    .line{
        width: 40px;
    }
    .redIco{
        img{
            width: 20px;
        }
}
}

}